---
layout: default
title: Yasin Zhong|Blog
---

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link type="text/css" rel="stylesheet" href="/cssjs/a.css"/>
		<title>{{ page.title }}</title>
	</head>
	
	<body>
		<div id="div-content">	
			<br/><br/>
　　		<ol>
				看法
　　　　		{% for postmm in site.postsMymind %}
　　　　　　	<li>{{ postmm.date | date_to_string }}
					<a href="{{ site.baseurl }}{{ postmm.url }}">{{ postmm.title }}</a>
				</li>
　　　　		{% endfor %}

				自卖与自夸
　　　　		{% for post in site.posts %}
　　　　　　	<li>{{ post.date | date_to_string }}
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				</li>
　　　　		{% endfor %}
　　		</ol>
		<div>
		<script type="text/javascript" src="/cssjs/a.js"></script>
	</body>
</html>
