

body
{
	color:rgb(100,100,100);
	background-color:rgb(250,250,250);
	text-align:center;
}

#div-content,#div-header
{
    background-color:white;
	margin: auto;
	margin-bottom: 0.7em;
	height: auto;
	width: 50%;
	box-shadow: 3px 3px 10px #888888;
	padding:10px;
	text-align:left;
}
#div-header
{
	box-shadow: 3px 0px 10px #888888;
	text-align: center;
}



a,a:visited
{
	text-decoration:none;
	color:rgb(42,122,226);
}

h1,h2,h3,h4,h5,h5
{
	font-weight: lighter; 
	color:rgb(0,0,0);
}
