

body
{
	color:rgb(100,100,100);
}

#div-content,#div-header
{
	margin: auto;
	height: auto;
	width: 50%;
	box-shadow: 3px 3px 10px #888888;
	padding:10px;
}

a,a:visited
{
	text-decoration:none;
	color:rgb(42,122,226);
}

h1,h2,h3,h4,h5,h5
{
	font-weight: lighter; 
}