

img
{
	/* 居中设置 */
	margin: auto;
	margin-top: 0.7em;
	margin-bottom: 1em;
	text-align: center;

	/* 位置同排设置 */
	display:inline-block;
	
	/* 边缘效果设置 */
	-moz-border-radius:1em;
	border-radius:1em;
	box-shadow: 0px,0px,5px,rgb(70,70,70);
}