

img{
	/* 居中设置 */
	margin: auto;
	margin-top: 0.7em;
	margin-bottom: 1em;
	display:block;

	max-height: 20em;
	min-height: 1em;
	
	/* 边缘效果设置 */
	-moz-border-radius:1em;
	border-radius:1em;
}

img:hover{
	transition: all .4s;
	transform: scale(1.4);
}