
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link type="text/css" rel="stylesheet" href="/cssjs/a.css"/>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen" />
		<title>{{ page.title }}</title>
	  <meta name="keywords" content="钟亚森,{{ page.title }},yasin,zhong,blog">
	</head>
	
  <body id="body" style="text-align:center;">
		
	<div id="div-header" >
			
			<a href="http://a.caihe.org">YasinZhong</a> . 
			<a href="mailto:m@caihe.org" >Email</a> . 
			<a href="http://www.bing.com" >✿</a> .
	  		<a href="http://a.caihe.org/Post/SelfIntroduction.html" >本博客</a>
		</div>
		
		
		
	  <div id="div-content" style="text-align:left;">
	  <!--[if lt IE 9]><h2>你的浏览器太老了，请使用更先进的 "谷歌" 或 "火狐" 浏览器进行访问</h2><![endif]-->
	  {{ content }}
	  </div>
	  
	  
	  <br/><br/>
<!-- 来必力City版安装代码 -->
<div id="lv-container" style="width: 21em;margin: auto;" data-id="city" data-uid="MTAyMC8zNDQ4MS8xMTAxOA==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<q>评论功能仅供留言，删除表示已阅。</q>
<!-- City版安装代码已完成 -->
	  
	  
	  
	  
	  
	  <div id="div-footer" style="text-align:center;text-size:0.5em;">
		<br/>
			©2017 www.caihe.org<br/>
		<pre>
     ＿＿＿
　　 ／　　　▲
／￣　 ヽ　■■
●　　　　　■■
ヽ＿＿＿　　■■
　　　　）＝｜
　　　／　｜｜
　∩∩＿＿とﾉ
　しし———┘
		</pre>
	  </div>
		
		<script type="text/javascript" src="/cssjs/a.js"></script>
	    <script type="text/javascript" src="/cssjs/baidu.js"></script>
	</body>
</html>
