
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link type="text/css" rel="stylesheet" href="/cssjs/a.css"/>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen" />
		<title>{{ page.title }}</title>
		<meta name="keywords" content="yasin,zhong,blog,{{ page.title }}">
	</head>
	
	<body>
		
		<div id="div-header">
			<a href="http://www.caihe.org">YasinZhong</a><pre>  </pre>
			<a href="mailto:me@caihe.org" position="">Email</a>
		</div>
		
		<div id="div-content">{{ content }}</div>
		
		<script type="text/javascript" src="/cssjs/a.js"></script>
	</body>
</html>
