
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link type="text/css" rel="stylesheet" href="/cssjs/a.css"/>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen" />
		<title>{{ page.title }}</title>
		<meta name="keywords" content="yasin,zhong,blog,{{ page.title }}">
	</head>
	
	<body>
		
		<div id="div-header">
			
			<a href="http://www.caihe.org">YasinZhong</a> . 
			<a href="mailto:m@caihe.org" >Email</a> . 
			<a href="http://www.caihe.org/2017/06/01/%E5%BF%83%E7%9A%84%E7%97%95%E8%BF%B9.html" >唠叨</a> . 
			<a href="http://www.bing.com" >🌸</a> . 
		</div>
		
		<div id="div-content">{{ content }}</div>
		
		<script type="text/javascript" src="/cssjs/a.js"></script>
	</body>
</html>