<html>
	<title>钟耀鑫：{{ page.title }}</title>
	<meta charste="utf-8">

	<link rel="stylesheet" href="/cssjs/GeneralStyle2020.css" type="text/css" />

	<style>
		li{
			border: 1px solid gray;
			border-radius:0.3em;
			margin: 0.3em;
			padding: 0.3em;
			display: inline-block;
			/* **** 更多样式在下面添加 **** */
			min-width: 17em;
			font-weight:bold;
		}
	</style>

	<xmp theme="cerulean" style="display:none;" id="myDiv">
<!--[if lt IE 9]><h2>你的浏览器太老了，请使用更先进的 "谷歌" 或 "火狐" 浏览器进行访问</h2><![endif]-->
{{ content }}
	</xmp>

	<script src="/cssjs/strapdown/strapdown.js"></script>
		
	<!-- 来必力评论City版安装代码 -->
	<div id="lv-container" style="margin: auto;" data-id="city" data-uid="MTAyMC8zNDQ4MS8xMTAxOA==">
		<script type="text/javascript">
		   (function(d, s) {
			   var j, e = d.getElementsByTagName(s)[0];
		
			   if (typeof LivereTower === 'function') { return; }
		
			   j = d.createElement(s);
			   j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
			   j.async = true;
		
			   e.parentNode.insertBefore(j, e);
		   })(document, 'script');
		</script>
		<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
	</div>
	<script>document.getElementById("content").appendChild(document.getElementById("lv-container"));/*钟某自己来优化宽度*/</script>
	<!-- City版安装代码已完成 -->

	<hr id="idhr"/>
	<div id="div-header" style="text-align: center;" >
		<style type="text/css">a{text-decoration: none;}</style>
		<a href="http://a.caihe.org">YasinZhong &nbsp; &nbsp;</a>
		<a href="http://a.caihe.org/PManualLink/SelfIntroduction.html" >本博客 &nbsp; &nbsp;</a>
		<a href="mailto:m@caihe.org" >Email &nbsp; &nbsp;</a>
		<a href="https://bing.com" >✿</a>
	</div>
	
	<div id="div-footer" style="text-align:center;"><br/>
	©<span id="fyear">2016</span> www.caihe.org<br/>
	<script>document.getElementById('fyear').innerHTML = new Date().getFullYear() + '';</script>

</html>
