<html>
	<title>钟大奖：{{ page.title }}</title>
	<meta charste="utf-8">

	<xmp theme="cerulean" style="display:none;" id="myDiv">
<!--[if lt IE 9]><h2>你的浏览器太老了，请使用更先进的 "谷歌" 或 "火狐" 浏览器进行访问</h2><![endif]-->
{{ content }}
	</xmp>

	<script src="/cssjs/strapdown/strapdown.js"></script>
		
	
	<!-- ************** 个人脚本 ************** -->
	<link rel="stylesheet" href="/cssjs/GeneralStyle2020.css" type="text/css" />
	<!-- ++++++++++++++  ++++++++++++++ -->

	<hr id="idhr"/>
	<div id="div-header" style="text-align: center;" >
		<style type="text/css">a{text-decoration: none;}</style>
		<a href="https://yasinzhong.github.io/">YasinZhong &nbsp; &nbsp;</a>
		<a href="https://yasinzhong.github.io/PManualLink/SelfIntroduction.html" >本博客 &nbsp; &nbsp;</a>
		<a href="mailto:yasinzhong@foxmail.com" >Email &nbsp; &nbsp;</a>
		<a href="https://metaso.cn/" >✿</a>
	</div>
	
	<div id="div-footer" style="text-align:center;"><br/>
	©<span id="fyear">2016</span> yasinzhong.github.io<br/>
	<script>document.getElementById('fyear').innerHTML = new Date().getFullYear() + '';</script>

</html>
